body {
    font-size: 19px;
    line-height: 1.2;
}

button {
    padding: 3px 5px;
    cursor: pointer;
}

.error {
    color: #c00;
    font-weight: bold;
}

.header a {
    margin-right: .5em;
}

.header a.active {
    color: black;
    text-decoration: none;
}

a.logo {
    color: white;
    background: blue;
    text-decoration: none;
    padding:  3px 5px 0;
    font-weight: bold;
}

.block {
    display: block
}

li + li {
    margin-top: .5em;
}

.m1 { margin: 1em }
.mt1 { margin-top: 1em }
.mr1 { margin-right: 1em }
.mb1 { margin-bottom: 1em }
.ml1 { margin-left: 1em }

body.night {
    background: #222;
    color: #aaa;
}
body.night a:link {
    color: #58f;
}
body.night a:visited {
    color: #858;
}
