{{define "body"}}
<h1>
    <a href="{{.feed.Link}}">{{.feed.Title}}</a>
    <small>({{len .posts}} posts)</small>
</h1>
<div>
    {{.feed.Description}}
    <br>
    <code>{{.feed.Url}}</code>
    <form action=/unsubscribe method=POST style="display:inline">
        <input value="{{.feed.Id}}" name=id type=hidden>
        <button>Unsubscribe</button>
    </form>
</div>
<hr>
<ul>
    {{range $_, $p := .posts}}
    <li style="list-style-type: {{if $p.Saved}}circle{{else}}disc{{end}};">
        <a href="/read/{{$p.Id}}">{{$p.Title}}</a>
        <small>| <a href="{{$p.Link}}">Link</a> | 
            {{if $p.Saved}}
            <a href="/forget/{{$p.Id}}?to=feeds/{{$.feed.Id}}" data-keep-scroll-position="true">forget</a>
            {{else}}
            <a href="/save/{{$p.Id}}?to=feeds/{{$.feed.Id}}" data-keep-scroll-position="true">save</a>
            {{end}}</small>
    </li>
    {{end}}
</ul>
{{end}}
