{{define "body"}}
<h1>Saved ({{.count}})</h1>

<form action=/save-url method=POST>
    <input name=url type=url placeholder="http://...">
    <button type=submit>Save url</button>
</form>

<ul>
    {{range $_, $u := .urls}}
    <li>
        <a href={{$u.Url}}>{{$u.HumanString}}</a>
        <small>:: <a href=/forget-url/{{$u.Id}}>forget</a></small>
    </li>
    {{end}}
    {{range $_, $p := .posts}}
    <li>
        <a href="/read/{{$p.Id}}">{{$p.Title}}</a>
        <br>
        <small>
            <i>{{$p.FeedTitle}}</i>
            ::
            <a href="{{$p.Link}}">link</a>
            <a href="/forget/{{$p.Id}}?to=saved" data-keep-scroll-position="true">forget</a>
        </small>
    </li>
    {{end}}
</ul>
{{end}}

