{{define "html"}}
<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        {{if .title}}
        <title>♪ {{.title}}</title>
        {{else}}
        <title>♪ JazzReader</title>
        {{end}}
        <link rel=stylesheet href=/styles.css>
        <meta name=viewport content="width=device-width">
        {{if .base}}<base href="{{.base}}">{{end}}
    </head>
    <body>
        <div class=header>
            <a href=/ class=logo>♪</a>
            <a href={{.domain}}/unread>Unread</a>
            <a href={{.domain}}/saved>Saved</a>
            <a href={{.domain}}/feeds>Feeds</a>
            <a href={{.domain}}/logout style='float:right'>Logout</a>
        </div>
        <div class=content>
            {{template "body" .}}
        </div>

        <script>
            ;(function () {
                var pos = localStorage.getItem("scroll-position")
                if (pos) {
                    window.scrollTo(0, pos)
                    localStorage.removeItem("scroll-position")
                }

                document.body.addEventListener("click", function (e) {
                    if (e.target.getAttribute("data-keep-scroll-position")) {
                        localStorage.setItem("scroll-position", window.scrollY)
                    }
                })
            }())

            ;(function () {
                document.body.classList.toggle("night", !!localStorage.getItem("night"))

                var bulb = document.createElement("a")
                bulb.innerHTML = "💡"
                bulb.href = "#"
                bulb.style.float = "right"
                bulb.style.textDecoration = "none"
                bulb.onclick = function (e) {
                    e.preventDefault()
                    if (!!localStorage.getItem("night")) {
                        localStorage.removeItem("night")
                        document.body.classList.remove("night")
                    } else {
                        localStorage.setItem("night", true)
                        document.body.classList.add("night")
                    }
                }
                document.querySelector(".header").appendChild(bulb)
            }())
        </script>
    </body>
</html>
{{end}}

