{{define "html"}}
<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        {{if .title}}
        <title>♪ {{.title}}</title>
        {{else}}
        <title>♪ JazzReader</title>
        {{end}}
        <link rel=stylesheet href=/styles.css>
        <meta name=viewport content="width=device-width">
        {{if .base}}<base href="{{.base}}">{{end}}
    </head>
    <body>
        <div class=header>
            <a href=/ class=logo>♪</a>
            {{if .page}}
            <a href={{.domain}}/unread {{if eq .page "unread"}}class="active"{{end}}>Unread</a>
            <a href={{.domain}}/saved {{if eq .page "saved"}}class="active"{{end}}>Saved</a>
            <a href={{.domain}}/feeds {{if eq .page "feeds"}}class="active"{{end}}>Feeds</a>
            {{else}}
            <a href={{.domain}}/unread>Unread</a>
            <a href={{.domain}}/saved>Saved</a>
            <a href={{.domain}}/feeds>Feeds</a>
            {{end}}
            <a href={{.domain}}/logout style='float:right'>Logout</a>
        </div>
        {{template "body" .}}
    </body>
</html>
{{end}}

