{{define "body"}}
<h1>
    Unread
    ({{.count}})
    {{if gt .count 0}}
    <form action=/mark-as-read method=POST style="display:inline">
        <button>Mark all as read</button>
        <input value="{{.ids}}" name=ids type=hidden>
    </form>
    {{end}}
</h1>

<ul>
    {{range $_, $p := .posts}}
    <li style="list-style-type: {{if $p.Saved}}circle{{else}}disc{{end}};">
        <a href="/read/{{$p.Id}}">{{$p.Title}}</a>
        <br>
        <small>
            <i>{{$p.FeedTitle}}</i>
            ::
            <a href="{{$p.Link}}">link</a>
            {{if $p.Saved}}
            <a href="/forget/{{$p.Id}}?to=unread" data-keep-scroll-position="true">forget</a>
            {{else}}
            <a href="/save/{{$p.Id}}?to=unread" data-keep-scroll-position="true">save</a>
            {{end}}
        </small>
    </li>
    {{end}}
</ul>

<script>
    setTimeout(function () {
        localStorage.setItem("scroll-position", window.scrollY)
        window.location.reload(false)
    }, 10 * 60 * 1000) // 10m
</script>
{{end}}
